body{
  font-family: "Roboto";
  margin:0;
}
/* Header */
.header{
  background-color: #1F2937;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 96px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
}

.links{
  font-size: 18px;
  display:flex;
}
/* adjustments for lists */
ul {
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
  display: flex;
  gap: 16px; 
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Hero banner (top-content) */
.top-content{
  display:flex;
  background-color: #1F2937;
  padding: 32px 96px;
}

.left-side{
  width: 500px;
  display:flex;
  border: 5px solid #1F2937;
  flex-direction: column;
}

.header-text{
  font-size: 48px;
  color:#F9FAF8;
  font-weight: bolder;
  /* border: 5px solid #1F2937; */
}

.sub-text{
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up{
  color: white;
  background-color: #3882F6;
  width: 100px;
  padding: 4px;
  margin-bottom: 50px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
}

.right-side{
  background-color: #eee;
  display:flex;
  color:black;
  opacity: 0.5;
  flex-grow:1;
  justify-content: center;
  align-items: center;
}

/* Information section */

.information-content{
  display:flex;
  flex-direction: column;
  width:900px;
  height:400pxss;
  text-align: center;
  margin: auto;
}

.information-header{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 32px;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.image-container{
  display:flex; 
  gap: 32px;
}

/* Quote section */

.quote-content{
  background-color: #E5E7EB;
  margin-top: 96px;
}

.quote-container{
  display:flex;
  flex-direction: column;
  width: 820px;
  height: 190px;
  margin: auto;
  padding: 85px;
}

.quote{
  font-size: 36px;
  font-style:italic;
  color: #1F2937;
}

.thor{
  align-self: flex-end;
  font-size: 24px;
  font-weight: bolder;
}

/* Call to action */

.call-to-action{
  background-color: #3882F6;
  display:flex;
  justify-content: space-between;
  padding: 24px 64px;
  width: 1000px;
  margin:64px auto;
}

.action-header{
  color:#F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.action-text{
  color: #E5E7EB
}

.action-sign-up{
  color:#F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  padding: 4px;
}

/* footer */
 
.footer{
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 32px;
  text-align: center;
}