body{
  font-family: "Roboto";
  margin:0;
}
/* Header */
.header{
  background-color: #1F2937;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 96px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
}

.links{
  font-size: 18px;
  display:flex;
}
/* adjustments for lists */
ul {
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
  display: flex;
  gap: 16px; 
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Hero banner (top-content) */
.top-content{
  display:flex;
  background-color: #1F2937;
  padding: 32px 96px;
}

.left-side{
  width: 500px;
  display:flex;
  border: 5px solid #1F2937;
  flex-direction: column;
}

.header-text{
  font-size: 48px;
  color:#F9FAF8;
  font-weight: bolder;
  /* border: 5px solid #1F2937; */
}

.sub-text{
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up{
  color: white;
  background-color: #3882F6;
  width: 100px;
  padding: 4px;
  margin-bottom: 50px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
}

.right-side{
  background-color: #eee;
  display:flex;
  color:black;
  opacity: 0.5;
  flex-grow:1;
  justify-content: center;
  align-items: center;
}

/* Information section */

/* .information-content{
  display:flex;
  flex-direction: column;
  width:900px;
  height:400pxss;
  border:5px dotted purple;
}

img{
  width: 100px;
  height: 100px;
}
.images{
  display:flex;
  border: 5px solid black;
} */
