body{
  font-family: "Roboto";
  padding: 0 32px;
}
/* Header */
.header{
  background-color: #1F2937;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
}

.links{
  font-size: 18px;
  display:flex;
}
/* adjustments for lists */
ul {
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
  display: flex;
  gap: 16px; 
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Hero banner (top-content) */
.top-content{
  display:flex;
  background-color: #1F2937;
}

.left-side{
  width: 500px;
  display:flex;
  border: 5px solid #1F2937;
  flex-direction: column;
}

.header-text{
  font-size: 48px;
  color:#F9FAF8;
  font-weight: bolder;
  /* border: 5px solid #1F2937; */
}

.sub-text{
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up{
  color: white;
  background-color: #3882F6;
  width: 140px;
}